<?xml version="1.0" encoding="utf-8" ?>

<robot name="rigid_plant">

    <link name="base_link">

        <visual>
            <geometry>
                <box size="0.05 0.05 1"/>
            </geometry>
        </visual>

        <collision>
            <geometry>
                <box size="0.05 0.05 1"/>
            </geometry>
        </collision>

        <inertial>
            <mass value="1.0"/>
            <inertia ixx="0.1" iyy="0.1" izz="0.1" ixy="0.1" iyz="0.1" ixz="0.1"/>
        </inertial>

    </link>

    <link name="branch">
        <visual>
            <origin xyz="0 0 0" rpy="1.57 0 0"/>

            <geometry>
                <box size="0.05 0.05 1"/>
            </geometry>
        </visual>

        <collision>
            <origin xyz="0 0 0" rpy="1.57 0 0"/>

            <geometry>
                <box size="0.05 0.05 1" rpy="0 0 0"/>
            </geometry>
        </collision>

        <inertial>
            <mass value="1.0"/>
            <inertia ixx="0.1" iyy="0.1" izz="0.1" ixy="0.1" iyz="0.1" ixz="0.1"/>
        </inertial>
    </link>

    <joint name="joint_stem_branch" type="fixed">
        <parent link="base_link"/>
        <child link="branch"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

</robot>