<?xml version="1.0"?>
<robot name="wall">
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.1 1.3192 0.5" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.1 1.3192 0.5" />
      </geometry>
    </collision>
  </link>
</robot>